ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.blue-tile {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    border-color:#3882f6;
}

